{% load staticfiles %}
<html lang="pl">
    <head>
        <title>Cennik</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/blog.css">

    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-light border">

          <img src="static/img/logo.png" width="140" height="100" class="d-inline-block align-top" alt="Brand">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active" href="localhost:8000">O NAS</a>
              <a class="nav-item nav-link " href="#">PROJEKTY</a>
              <a class="nav-item nav-link" href="/cennik">ZESPÓŁ</a>
              <a class="nav-item nav-link " href="#">USŁUGI</a>
              <a class="nav-item nav-link " href="#">KONTAKT</a>
            </div>
          </div>
      </nav>

    <div class="position-relative overflow-hidden p-3  text-center bg-f2f2f2">
      <div class="col-md-5 mx-auto p-5">
        <h1 class="display-4 font-weight-bold p-3 ">O NAS</h1>
        <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, ludus veniam epicuri ei est, in nam dolorum maiorum quaestio. No his enim vocent, nam legere option insolens cu. Eius iuvaret luptatum his id. Graece graeci ceteros nec an.
Malorum interpretaris ei usu. Vis epicuri salutandi euripidis eu.</p>
      </div>
    </div>

    <div class="container-fluid" style="background-image: url('static/img/team-bg.jpg'); weight: 816px">
      <div class="row">
        <div class="col-sm-12"><p class="display-4 text-white text-center font-weight-bold p-4">ZESPÓŁ</P></div>
          <div class="col-sm-6">
            <center><img src="static/img/aleks-photo.png" width="140" height="140"  class="img-fluid"  alt="Brand">
            <p class="h5 text-white font-weight-bold p-2">ALEKS BANACH</p></center>
            <div class="col-md-6 mx-auto text-light text-center position-relative overflow-hidden">
              <p class="lead font-weight-normal h6">Lorem ipsum dolor sit amet, ludus veniam epicuri ei est, Eius iuvaret luptatum his id. Graece graeci ceteros nec an.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <center><img src="static/img/krystian-photo.png" width="140" height="140"  class="img-fluid"  alt="Brand">
            <p class="h5 text-white font-weight-bold p-2">KRYSTIAN KURLEJ</p></center>
            <div class="col-md-6 mx-auto text-light text-center position-relative overflow-hidden">
              <p class="lead font-weight-normal h6">Lorem ipsum dolor sit amet, ludus veniam epicuri ei est, Eius iuvaret luptatum his id. Graece graeci ceteros nec an.</p>
            </div>
          </div>
          <div class="flex d-flex-fluid p-4"></div>
        </div>
      </div>




    <footer class="container py-3 text-center">
      <small class="d-block mb-3 text-muted">&copy;2018</small>
      <p class="small h6 lead">Aleks & Krystian Webdesign</p>
    </footer>








    </body>
</html>
