{% load staticfiles %}
<html lang="pl">
    <head>
        <title>Strona startowa  </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/blog.css">

    </head>
    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
              <center><img src="static/img/logo.png" width="140" height="100"  class="img-fluid" style="margin-top: 20px;" alt="Brand"></center>
          </div>
          <div class="col-10">
            <div class="d-flex flex-row-reverse align-items-center p-2" style="height:140px" >
              <a class="p-3 bd-light align-self-center h6 active" href="/cennik">KONTAKT</a>
              <div class="p-3 bd-light align-self-center h6">USŁUGI</div>
              <div class="p-3 bd-light align-self-center h6">ZESPÓŁ</div>
              <div class="p-3 bd-light align-self-center h6">PROJEKTY</div>
              <div class="p-3 bd-light align-self-center font-weight-bold h6">O NAS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-dark" style="height:1px;"></div>
      <div class="position-relative overflow-hidden  text-center bg-f2f2f2">
        <center><div class="col-md-8 p-lg-10 my-5 bg-dark">
          <h1 class="display-5 font-weight-bold">O NAS</h1>
          <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at ligula elementum, consequat odio non, scelerisque metus. Praesent et placerat massa. Nulla facilisi. Fusce vel porttitor dui. In vestibulum dictum nisi sit amet tincidunt. Pellentesque varius congue enim. Sed viverra odio vel neque ullamcorper, ac mattis orci cursus. Quisque in eros consectetur, tempor arcu. Morbi id neque sit amet enim hendrerit pellentesque. Integer vel libero feugiat nisi tempus venenatis.

            Ut ut diam nulla. Proin viverra finibus risus, non cong ultricies elit enim nec mauris. Cras auctor, velit sed molestie mollis, nibh sem pretium urna, quis rutrum massa sapien vehicula purus. Suspendisse convallis leo sed neque accumsan, a eleifend lacus pellentesque. Maecenas egestas consequat ex, sit amet tincidunt odio placerat non. Sed accumsan laoreet mi, eu rutrum nulla lobortis sed. Pet.</p>
        </div>
      </div></center>






          <!--
          <div class="container">
            <div class="row">
              <h1><center>Aktualności</center></h1>
                <div class="col-sm-2">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="">Aktualności</a></li>
                    <li role="presentation"><a href="/ekipa">Ekipa</a></li>
                    <li role="presentation"><a href="#">Kontakt</a></li>
                  </ul>
                </div>
              <div class="col-sm-7">
                {% for post in posts %}
                    <div>
                      <h1>{{ post.title }}</h1>
                      <p> Opublikowany {{ post.published_date }} </p>
                      <br>
                      <h4> {{ post.text|linebreaksbr }} </h4>
                      <h6>Autor: {{ post.author }}</h6>
                      <hr>

                    </div>
                {% endfor %}
              </div>
              <div class="col-sm-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">Zarządzanie treścią</div>
                  <div class="panel-body">
                    <a href="admin">Zaloguj się do panelu administratora.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div class="container">
              <span class="text-muted">Jakaś tam stopka</span>
            </div>
          </footer>

          odtad juz zle

          {% for post in posts %}
              <div class="blog-post">
                <h2 class="blog-post-title"> {{ post.title }} </h2>
                <p class="blog-post-meta">{{ post.published_date }} by <a href="#">{{ post.author }}</a></p>

                <p> {{ post.text|linebreaksbr }} </p>
              </div><!-- /.blog-post
            {% endfor %}-->








    </body>
</html>
